@import url('https://use.typekit.net/jmi8vwl.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: mostra-nuova, sans-serif;
}

html, body {
        height: 100%;
        overflow: hidden;
}

h1 {
  font-family: mostra-nuova, sans-serif;
  font-weight: 400;
  font-size: 14vmin;
  font-style: normal;
}


p {
  font-family: jubilat, serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  color: rgb(226, 226, 226);
  
  background: linear-gradient(45deg, #22204c, #2f3f56, #3b5c5f, #4a826b);
    background-size: 2000% 2000%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
    animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
}
  
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    
    100%{background-position:100% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
   
    100%{background-position:100% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    
    100%{background-position:100% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
  
    100%{background-position:100% 50%}
}

.navBtnUnderline:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  background: rgb(226, 226, 226);
  height: 2px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.left:before {
  left: 0;
  right: 100%;
  -webkit-transition-property: right;
  transition-property: right;
}
.right:before {
  left: 100%;
  right: 0;
  -webkit-transition-property: left;
  transition-property: left;
}

.left:hover:before, .left:focus:before, .left:active:before {
  right: 0;
}

.right:hover:before, .right:focus:before, .right:active:before {
  left: 0;
}
